@model IEnumerable<GoGreenV3.Models.MarkerModel>
@{
    ViewBag.Title = "Marker";
}
<h2>Traffic Light</h2>
<h4>Baguio City</h4>
<hr />
<div class="row">
    <div class="col-md-3 img-rounded" style="background-color: rgb(239, 234, 234); padding: 12px;">
        @using (Html.BeginForm("Index", "Marker", FormMethod.Get, new { @class = "form-vertical" }))
        {
            @Html.TextBox("Query", null, new { @class = "form-control", placeholder = "Search" })
            <p>
                @Html.RadioButton("Filter", "All", true)
                @Html.Label("All")
                @Html.RadioButton("Filter", "Type")
                @Html.Label("Type only")
                @Html.RadioButton("Filter", "Location")
                @Html.Label("Location only")
            </p>
            <p>
                <input type="submit" class="btn btn-default" value="Search" />
                <input type="submit" class="btn btn-default" value="Show All" onclick="document.getElementById('Query').value = '';" />
            </p>
            <hr />
            <strong>Sort by:</strong>
            <p>
                @Html.RadioButton("SortBy", "Default", true)
                @Html.Label("Default")
                @Html.RadioButton("SortBy", "Type")
                @Html.Label("Type")
                @Html.RadioButton("SortBy", "Location")
                @Html.Label("Location")
            </p>
            <strong>Sort order:</strong>
            <p>
                @Html.RadioButton("SortOrder", "Ascending", true)
                @Html.Label("Ascending")
                @Html.RadioButton("SortOrder", "Descending")
                @Html.Label("Descending")
            </p>
            <p>
                <input type="submit" class="btn btn-default" value="Sort" />
            </p>
        }
    </div>
    <div class="col-md-9">
        <p>
            @Html.ActionLink("Create New", "Create")
            @Html.ActionLink("Update All (Hidden)", "UpdateToFirebase", "Marker", new { style = "opacity: 0" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td class="text-nowrap">
                        @{ var itemInfo = item.Latitude + "," + item.Longitude + "," + item.Location; }
                        <button type="button" id="showMarkerBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#showMarkerOnMap" value="@item.Id" onclick="setMarkerLocation(@item.Id, '@item.Latitude', '@item.Longitude', '@item.Location');"><span class="glyphicon glyphicon-map-marker"></span> Show on map</button>
                        <a href="@Url.Action("Edit", "Marker", new { id=item.Id })" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                        <a href="@Url.Action("Details", "Marker", new { id=item.Id })" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-info-sign"></span> Info
                        </a>
                        <a href="@Url.Action("Delete", "Marker", new { id=item.Id })" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@* showMarkerOnMap Modal *@
<div class="modal fade" id="showMarkerOnMap" tabindex="-1" role="dialog" aria-labelledby="showMarkerOnMap">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="showMarkerOnMapHeader">Marker</h4>
            </div>
            <div class="modal-body">
                <div id="map" class="map-marker-index"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/gmaps-place-locator.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBnRjrz-o64fdMh2-qS6xK1WeKIMwcM76I&libraries=places&callback=initMapIndexPage" async defer></script>